name: Bump Version & Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    uses: PozzettiAndrea/comfy-test/.github/workflows/publish.yml@main
    with:
      python-version: '3.11'
    secrets: inherit
